* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0B2434;
  padding: 20px;
  

}

main {
  background-color: #F5F5F5;
  max-width: 80vw;
  height: 500px;
  border: none;
  border-radius: 10px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
 
}


