@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0B2434;
  padding: 20px;
  font-family: 'Karla', sans-serif;
  

}

main {
  background-color: #F5F5F5;
  max-width: 80vw;
  height: 500px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  padding: 20px;
  
  
  
 
}



